@import "bootstrap";
@import "react";
@import "react/form";
@import "font-awesome";
@import "react/style";
@import "react/index";
@import "react/show";

.cart-icon {
  padding-top: 5px;
  padding-left: 20px;
  width: 38px;
  height: 10px;
  color: #1ab744;
}
