//my-colors---

$black_bg: #232425;

$bg2: #f7f7f7;

$bg3: #f1f1f1;

$text1: #222222;

$text2: #555555;

$text3: #cccccc;

$text4: #dddddd;

$text5: #969696;

$dark1: #333333;

$dark2: #444444;

$green: #1ab744;
// $green: #CAEBF2;

$dark_green: #149b38;

$red: #e24545;

$yellow: #FFA726;

$dark_yellow: #E98F0C;

$border: #eeeeee;
