@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.index-page-image {
  height: 20rem;
  .image-div {
    height: inherit;
    text-align: center;
    img {
      height: inherit;
    }
  }
}
