@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.navbar {
  z-index: 2;
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
  &.stayActive {
    opacity: 1;
  }
  &:hover {
    background: rgba(255, 255, 255, 1);
  }
}

#app {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  .page-container {
    height: 100%;
    overflow: scroll;
    .jumbotron {
      .content {
        padding-top: 100px;
        h1 {
          padding: 0px;
          margin: 0px;
          color: #fff;
          font-family: 'Permanent Marker', cursive;
        }
        .sign-up-btn {
          font-family: 'Permanent Marker', cursive;
          font-size: 2rem;
          border-radius: 2px;
          padding: 10px 50px;
        }
      }
    }
  }
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.card-text {
  text-align: center;
}

.bg-image {
  background-image: url("https://i.gyazo.com/f135dd529f4fd5dd256b49295faba2b6.jpg");
}

.logo-text {
  font-family: 'Permanent Marker', cursive;
  padding-left: 1rem;
  font-size: 4rem;
  // opacity: 1;
}

.jumbotron {
  background-image: url("https://i.gyazo.com/15a970ec597a21f224623dd9a22c567e.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-height: 575px;
  font-weight: bold;
}

.sign-btns {
  font-family: #FFFFFF;
  font-weight: bold;
  margin: 10px;
}

.mr-auto {
  margin: auto;
}

// .navbar {
//   background-image: url("https://i.gyazo.com/59d2b5e602e5597e2e5c011025c6e522.png");
//   background-size: 100%;
//   background-repeat: no-repeat;
// }

// https://images.unsplash.com/10/wii.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80
// .jumbotron .container {
//   position:relative;
//   top: 50px;
// }



// .content {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
// }

// line-height: 1.15;
// font-style: normal;
// font-weight: 400;
// color: #57646c;
// -webkit-font-smoothing: antialiased;
// font-size: 16.2px;
// box-sizing: inherit;
// font-family: Montserrat,Helvetica,sans-serif;
// width: 100%;
// max-width: 1340px;
// margin: 0 auto;
// display: flex;
// flex-direction: row;
// flex-wrap: nowrap;
// justify-content: space-between;
// align-items: center;
// height: 86px;
