.item-title-show {
  margin-top: 5px;
}

.card-img {
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.item-index {
  width: 20rem;
}

.item-tile {
  padding-left: 1rem;
}

.item-show {
  padding-top: 93px;
}

.card-body ul {
  list-style: none;
}
