.details-img-box {
  .image-div {
    height: 40rem;
    text-align: center;
    img {
      height: inherit;
    }
  }
}

.comment-box2 {
  text-align: right;
}

.comment-margin {
  margin-right: 18.75rem;
}

.item-icon {
  color: $green;
  &:hover {
    color: $dark_green;
  }
}

.reject-form {
  padding-top: 10px;
}
