.details-img-box {
  .image-div {
    height: 40rem;
    text-align: center;
    img {
      height: inherit;
    }
  }
}

.comment-box2 {
  text-align: right;
}

.comment-margin {
  margin-right: 18.75rem;
}
